body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro',sans-serif;
}


/* Navigation Bar Style */
/* T/N: The nav bar uses a position of fixed to "fix" it
always at the top even during scrolling */
.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    height: 5rem;
    z-index: 5;
    background: ghostwhite;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 2rem;
}

.side-nav {
    display: flex;
    column-gap:20px;
    flex-wrap: wrap;
    font-size: 15px;
    margin-right: 2rem;
}

.side-nav-links {
    text-decoration: none;
    color: black;
}



/* Reusable Classes */
.orange-accent {
    color: #e0501b;
    /* This reusable class is responsible for 
    all the orange colored text */
}



/* Hero Section Style */
.hero {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    column-gap: 1rem;
    row-gap: 5rem;
    align-items: center;
    margin: 0 2rem;
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.primary-hero-txt {
    font-size: 5.5vw;
    font-weight: 550;
}

.hero-txt-accent {
    font-size: 3.5vw;
}

.secondary-hero-txt {
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: lightgray;
}

.hero-img {
    width: 28vw;
    min-width: 20rem;
}

.button {
    width: 30%;
    min-width: 6rem;
    height: 3rem;
    background-color: #2f8be0;
    color: white;
    border-radius: 2rem;
    outline: none;
    border: 1px solid transparent;
}


/* Stay at Home Section */
.stay-at-home-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: max-content 40%;
    column-gap: 5rem;
    justify-content: center;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}

.img-header {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.img-header .top-txt {
    font-size: 2vw;
    font-weight: 600;
}

.img-header .bottom-txt {
    font-size: 2.5vw;
    font-weight: 700;
    color: #2f8be0;
}

.female-doctor {
    width: 12vw;
    height: 70vh;
}

.reasons-container {
    display: grid;
    row-gap: 1rem;
    align-items: center;
    align-content: end;
}

.reasons {
    display: flex;
    padding-bottom: 1rem;
    column-gap: 1rem;
    border-bottom: 1px solid gainsboro;
}

.index {
    font-weight: bold;
    font-size: 2rem;
}

.reasons-txt {
    line-height: 1.8rem;
}


/* To Do Section Style */
.to-do-container {
    margin-top: 3rem;
    display: grid;
    justify-items: center;
    row-gap: 8rem;
}

.to-do-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-auto-rows: 23rem;
    justify-content: space-evenly;
}

.to-do-header {
    display: grid;
    justify-items: center;
    font-size: 2vw;
    font-weight: 600;
}

.to-do-cards {
    display: grid;
    box-shadow: 0 10px 22px rgb(0 0 0 / 9%), 0 10px 10px rgb(0 0 0 / 9%);
    position: relative;
}

.to-do-imgs {
    width: 11rem;
    position: absolute;
    right: -4rem;
    top: -6rem;
}

.yellow-bg {
    background-color: #ffce63;
    position: relative;
}

.blue-bg {
    background-color: #a1cdff;
    position: relative;
}

.cards-txt {
    margin: 1rem 0 0 1rem;
    line-height: 1.5rem;
    color: gainsboro;
}

.cards-txt-header {
    color: black;
    font-size: 2vw;
    margin-bottom: 2rem;
}

.next {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 1.2rem;
    background: #ededed;
    padding: .7rem;
    border-radius: .3rem;
}





/* Mobile App Section Style */
.mobile-app-section {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    height: max-content;
    padding: 5rem 3rem;
    background-color: #ffce63;
}

.mobile-app-info {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.download-app-txt {
    font-size: 1.8rem;
    font-weight: 600;
}

.update-txt {
    font-size: 1.2rem;
}

.download-icon {
    width: 10vw;
    min-width: 8rem;
}

.mobile-app-img {
    width: 20vw;
    min-width: 15rem;
}


/* Footer Section Style  */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    padding-bottom: 2rem;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
}






/* Responsive Section */
@media screen and (max-width: 885px) {
    .nav {
        flex-direction: column;
        justify-content: center;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 850px) {
    .header, .mobile-app-info {
        align-items: center;
    }

    .primary-hero-txt {
        font-size: 8vw;
    }
    
    .hero-txt-accent {
        font-size: 5vw;
    }
    
}

@media screen and (max-width: 390px) {
    .hero-img {
        min-width: initial;
        width: 80vw;
    }
}

/* Stay at Home Responsive */
@media screen and (max-width: 980px) {
    .img-container {
        grid-template-columns: auto;
        row-gap: 2rem;
    }

    .img-header {
        grid-row: 1 / 2;
    }

    .img-header .top-txt {
        font-size: 3.5vw;
    }

    .img-header .bottom-txt {
        font-size: 2.5vw;
    }

    .female-doctor {
        width: 55%;
    }
}

@media screen and (max-width:660px) {
    .stay-at-home-container {
        grid-template-columns: 80%;
        row-gap: 1rem;
    }

    .female-doctor {
        display: none;
    }

    .img-header .top-txt {
        font-size: 7vw;
    }

    .img-header .bottom-txt {
        font-size: 5vw;
    }
}

/* To Do Section Responsive */
@media screen and (max-width:820px) {
    .to-do-header {
        font-size: 1.5rem;
    }

    .cards-txt-header {
        font-size: 1.5rem;
    }

    .to-do-cards-container {
        justify-content: center;
        grid-template-columns: repeat(2, 35%);
        column-gap: 5rem;
        row-gap: 8rem;
    } 
}

@media screen and (max-width: 590px) {
    .to-do-cards-container {
        grid-template-columns: 80%;
    }
}

